version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: login_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: login_db
      MYSQL_USER: root_users
      MYSQL_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d

  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
